<ul class="contact-list">
  {% if site.email %}
    <li>
      <a href="mailto:{{ site.email }}">
        <span class="icon icon--email">{% include icon-email.svg %}</span>
        <span class="label">{{ site.data.theme.t.email | default: 'Email' }}</span>
      </a>
    </li>
  {% endif %}

  <!-- {% if site.github_username %}
    <li>{% include icon-github.html username=site.github_username label='GitHub' %}</li>
  {% endif %} -->

  {% if site.twitter_username %}
    <li>{% include icon-twitter.html username=site.twitter_username label='Twitter' %}</li>
  {% endif %}

  {% if site.instagram_username %}
    <li>{% include icon-instagram.html username=site.instagram_username label='Instagram' %}</li>
  {% endif %}

  {% if site.facebook_username %}
  <li>{% include icon-facebook.html username=site.facebook_username label='Facebook' %}</li>
  {% endif %}
  {% if site.linkedin_link %}
  <li>{% include icon-linkedin.html username=site.linkedin_link label='Linkedin' %}</li>
  {% endif %}
  {% if site.yt_username %}
    <li>{% include icon-youtube.html username=site.yt_username label='Youtube' %}</li>
  {% endif %}
  {% if site.discord_link %}
    <li>{% include icon-discord.html link=site.discord_link label='Discord' %}</li>
  {% endif %}
  {% if site.signup %}
    <li>{% include icon-web.html link=site.signup label='Signup' %}</li>
  {% endif %}
</ul>
